.single-vehicle img{
    height: 200px;
    width: 200px;
    border-radius:25px;
    transition:.3s;
}
.single-vehicle img:hover{
    border:3px solid #ffc107;
}
.single-vehicle h3{
    position: absolute;
    bottom:0;
    color: black;
}
.single-vehicle{
    margin: 200px 0 0 10px;
    
}